test-files/example_3.xsd

<?xml version="1.0" ?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="product" type="productType" /> 
	
	<xsd:complexType name="productType">
		<xsd:sequence>
		  <xsd:element name="productName" type="xsd:string" maxOccurs="3" /> 
		  <xsd:element name="price" type="xsd:float" /> 
		  <xsd:element name="productionDate" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
	  </xsd:sequence>
	</xsd:complexType>
</xsd:schema>